
.container {
  display: grid; /* or inline-grid */
  grid-template-columns: 1fr 1fr
    minmax(10px, 1fr) 3fr
    repeat(5, 1fr)
    50px auto 100px 1fr;

  /* e.g.
  grid-template-rows:
    min-content 1fr min-content
    100px 1fr max-content
  */
}

/* solo porque queria verlo mas claro*/
.item {
  background: rgb(181, 255, 162);
  padding: 20px;
  border: 1px solid #b7afff;
  text-align: center;
}

